*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: BebasNueu;
    src: url(css/fonts/BebasNeue-Regular.ttf);
}
.paineltitulo{
    font-family: BebasNueu;
}
body{
    background-image: url("../img/img5.jpg");
    background-size: cover;
    /* background-position: 0px -900px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section{
    background-color:  white;
    padding: 50px 35px 50px 35px;
    font-family: BebasNueu;
}
/* #text{
    padding: 15px;
    text-align: center;
}
#img_home{
    padding: 15px;
    margin-left: 10px;
    text-align: center;
} */
#home img{
    width: 90%;
}
.acomodacao, .reservas, .sobre{
    width: 100.80%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 10px !important;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
.quartos{
    font-size: 25pt;
    text-align: center;
}
.gastronomia{
    margin-top: 40px;
    font-size: 25pt;
    text-align: center;
}
#text h2{
    font-size: 35pt;
    margin-top: 30px;
}
#text h5{
    font-size: 35pt;
}
#text p{
    font-size: 17pt;
}
#sobre img{
    border-radius: 15px;
    width: 90%;
    margin-left: 10px;
}
iframe{
    width: 730px;
    height: 589px;
    border-radius: 15px;
}
#sobre h3{
    font-size: 25pt;
    text-align: center;
    margin-top: 30px;
}
.card-header{
    background-color: black;
    color: white;
}
@media (min-width: 0px) and (max-width: 600px) { 
    iframe{
        /* width: 300px;
        height: 300px; */
        width: 90%;
        border-radius: 15px;
        margin-left: 10px;
    }
    #sobre h3{
        font-size: 25pt;
        text-align: center;
        margin-top: 30px;
    }
    .acomodacao{
    width: 100.80%;;
    padding: 10px !important;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    }
    .reservas{
    width: 100.80%;;
    padding: 10px !important;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    }
    .btn.btn-primary{
        width: 200px !important;
    }
    #home h2, #home h5, #home p{
        text-align: center;
    }
    #home img{
        border-radius: 15px;
        margin-left: 18px;
    }
 }
